
@{
    ViewData["Title"] = "Categories";
}

<main style="background-color: antiquewhite; color: red;">
    <h1>Categories</h1>

    @model List<Category>

    <table class="table"  style="margin:auto;">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Name</td>
                </tr>
            }
        </tbody>
    </table>

</main>

