
@{
    ViewData["Title"] = "Countries";
}

<main style="background-color: antiquewhite; color: red;">
    <h1>Countries</h1>

    @model List<Country>

    <table class="table"  style="margin:auto;">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Name</td>
                </tr>
            }
        </tbody>
    </table>
</main>

